:root{
    --color-primary: #22333B;
    --color-primary-dark: #1b2930;
    --color-dark: #0A0908;
    --color-almond: #EAE0D5;
}

.btn-theme{
    border-radius: 3px !important;
    background: var(--color-primary) !important;
    border: 1px solid var(--color-primary) !important;
    color: #fff !important;
}
.btn-theme-outlined{
    background: none !important;
    color: var(--color-primary) !important;
}
.btn-theme:focus{ box-shadow: 0 0 0 3px #0003; }
.btn-theme-danger{ background: #CC0033 !important; border-color: #0002 !important; }
.btn-theme-warning{ background: #F39C12 !important; border-color: #0002 !important; }
.btn-theme-success{ background: #27AE60 !important; border-color: #0002 !important; }
.btn-theme-info{ background: #3498DB !important; border-color: #0002 !important; }

.form-control{ border-radius: 3px !important; }
.form-control:focus{ box-shadow: none !important; border-color: var(--color-primary) !important; }

a{ color: var(--color-primary) !important; }

.site-header .nav-link.active{ background: var(--color-almond); }
.site-header{ position: sticky; top: 0; }

.form-row:not(:first-child){ margin-top: 1rem; }